.page-section {
  min-height: 100vh; /* Takes full screen height */
  padding: 80px 20px;
  display: flex;
  align-items: center;
}
.menu ul {
  padding: 10px;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu img {
  width: 60px;
  height: 60px;
}

body {
  background-color: #4b4038;
  color: bisque;
}
header {
  margin: 0;
  text-align: center;
}

#footer {
  text-align: center;
  color: sandybrown;
  background-color: blanchedalmond;
}

#button {
  padding: 34px;
}

li {
  list-style: none;
  display: inline;
  padding: 0 4px;
}

#contact {
  text-align: center;
  color: white;
}

.about {
  display: inline-block;
  text-decoration: darkgoldenrod;
}

nav {
  display: flex;
  margin: 0px;
  justify-content: flex-end;
  padding: 0px;
}

ul {
  display: flex;
  gap: 20px;
}
h3 ul {
  width: 20vw;
  height: 20vh;
}
.logo-badge {
  display: flex;
  justify-content: flex-start;
}
