.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    align-items: center; 
    gap: 12px;           
    margin-bottom: 15px;
}

.menu img {
    width: 60px;
    height: 60px; 
}

body{
    background-color: rgb(165, 130, 42); 
    color:bisque;
}